{% extends 'base_auth.html' %}
{% block content %}
{%include 'partials/__messages.html'%}

<div class="container">
  <div class="card-body">
    <div class="card-title">
        <h4>Login</h4>
    </div>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" id="username" aria-describedby="useranemHelp">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="password"> 
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
    <span class="text-lead lead">Don't have an account? </span><a
        href="{% url 'register' %}">Register</a><br>
    <span class="text-lead lead">Forgot Password </span><a href="">Reset</a>
</div>

{% endblock content %}
