{% extends 'base_auth.html' %}
{% block content %}

{%include 'partials/__messages.html'%}
<div class="container">
  <div class="card-body">
    <div class="card-title">
        <h4>Register</h4>
    </div>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="username" value="{{fieldVal.username}}" aria-describedby="useranemHelp">
          </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" name="email" id="email" value="{{fieldVal.email}}" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="password"> 
      </div>
   
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
    <span class="text-lead lead">Have an account? </span><a
        href="{% url 'login' %}">Login</a><br>
</div>

{% endblock content %}