<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .image-thumbnail {
            height: 200px;
        }
    </style>

</head>

<body class="m-5">
    {%include 'partials/__messages.html'%}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        Categories
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">All</li>
                        {% for name in category %}
                        <li class="list-group-item">{{name}}</li>
                        {% endfor %}
                        <a href="{% url 'add' %}" class="btn btn-dark btn-sm m-1">Add Photo</a>

                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    {% for imag in photos %}
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img src="{{imag.image.url}}" class="image-thumbnail" alt="...">
                            <div class="card-body">
                                <small class="card-text">Category:{{imag.category}}</small>
                            </div>
                            <a href="{% url 'photo' imag.id %}" class="btn btn-outline-dark btn-sm m-1">View</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

</html>